body{
    margin-left: 2rem;
    margin-right: 2rem;
}

/* divide the and style the container  */
.container{
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

/* style the image part  */
.image{
    height: 30rem;
}

.image img{
    padding: 1rem;
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;

}

/* style the configuration part  */
.configuration{
    padding: 1rem;
}

#mac-title{
    margin-top: 0px;
}

.sub-title{
    margin-bottom: 5px;
}
.button{
    padding: 10px 14px;
    margin-right: 10px;
    border-color: white;
    border-radius: 8px;
}

.button:hover{
    background-color: lightsteelblue;
    cursor: pointer;
    border-color:gray;
}

/* style the cost calculation part  */
.cost-calculation{
    margin-left: 25%;
}

table{
    width: 50%;
    border-collapse: collapse;
    margin-top: 2rem;
}
th, td{
    border-bottom: 1px solid rgb(187, 180, 180);
}
th{
    text-align: left;
}

td{
    text-align: right;
}
.delivery-fee{
    border-bottom: 1px solid;
}

/* style the pomo code */
.pomo-title{
    margin-bottom: 5px;
}
#pomo-btn{
    width: 5rem;
    margin-left: 5px;
    padding: 4px 7px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(177, 198, 226);
    /* color: white; */
}
#pomo-btn:hover{
    background-color: lightgreen;
    /* color: white; */
    border-color: white;
}
#total-after-discount{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
